@model CloakedRobot.Web.ViewModels.BlogConfigInput

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Cloaked Robot</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/adminStyles")
    @Styles.Render("~/bundles/loginStyles")
</head>
<body>
    <div class="container">
        <div class="form-signin">
            <h1 class="form-signin-heading">Welcome to Cloaked Robot!</h1>
            <p>Complete the form below to create your blog</p>
            @using(Html.BeginBootstrapForm("Configure"))
            {
                @Html.EditorForModel()

                <button type="submit" class="btn btn-primary">Create</button>
            }
        </div>
    </div>
</body>
</html>
